<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.bitacademy.java41.oldboy.dao.PathLocDao">
    <select id="getPathLocList" parameterType="int" resultType="PathLoc">
		select  room_no         as roomNo,
		        path_loc_rank   as pathLocRank,
		        path_loc_name   as pathLocName,
		        path_loc_lat    as pathLocLat,
		        path_loc_lng    as pathLocLng
		from    path_loc
		where   1=1
		    and room_no = #{mbrId}
	</select>
	
    
    <insert id="addPathLocList" parameterType="java.util.List"> 
        insert into PATH_LOC(ROOM_NO, PATH_LOC_RANK, PATH_LOC_NAME, 
                             PATH_LOC_LAT, PATH_LOC_LNG)  
        values 
        <foreach collection="list" item="pathLoc" separator=","> 
            ( #{pathLoc.roomNo},#{pathLoc.pathLocRank},#{pathLoc.pathLocName}, 
                #{pathLoc.pathLocLat}, #{pathLoc.pathLocLng} ) 
        </foreach>
    </insert> 
</mapper>


