<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.bitacademy.java41.oldboy.dao.RoomMbrDao">
	<select id="getRoomMbrList" parameterType="int" resultType="RoomMbr">
		select  room_no         as roomNo,
		        mbr_id          as mbrId,
		        room_mbr_id     as roomMbrId,
		        frnd_rel_id		as frndRelId
		from    room_mbr 
		where   1=1
		    and room_no = #{mbrId}		
	</select>
	
	
	<insert id="addRoomMbr" parameterType="RoomMbr"> 
        insert into Room_MBR(ROOM_NO, MBR_ID, ROOM_MBR_ID, FRND_REL_ID) 
        values          (#{roomNo}, #{mbrId}, #{roomMbrId}, #{frndRelId}) 
    </insert>
    
	
	<delete id="deleteRoomMbr" parameterType="String"> 
        delete from ROOM_MBR  
        where MBR_ID=#{value}  
    </delete> 
    
</mapper>


