<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.bitacademy.java41.oldboy.dao.RoomDao">
	   
	<select id="getRoomList" parameterType="map" resultType="Room">
	    <![CDATA[
		select  a.room_no           as roomNo
		        , a.room_start_time as roomStartTime
		        , a.room_distance   as roomDistance
		        , a.room_fare       as roomFare
		        , a.room_reg_date   as roomRegDate
		from    room a
		where   a.room_no in (  select  a.room_no
		                        from    room_mbr a
		                        where   1=1
		                            and a.room_no in (  select  x1.room_no 
		                                                from    room x1 
		                                                where   1=1
		                                                    and x1.room_no in ( select x2.room_no
		                                                                        from path_loc x2
		                                                                        where 1=1
		                                                                            and x2.path_loc_rank = 0
		                                                                            and sqrt(pow(#{startLat} - x2.path_loc_lat, 2) + pow(#{startLng} - x2.path_loc_lng, 2)) <= #{startRange})
		                                                    and x1.room_no in ( select x2.room_no
		                                                                        from path_loc x2
		                                                                        where 1=1
		                                                                            and x2.path_loc_rank = 4
		                                                                            and sqrt(pow(#{endLat} - x2.path_loc_lat, 2) + pow(#{endLng} - x2.path_loc_lng, 2)) <= #{endRange})                                                    
		                                                    and x1.room_start_time > now())
		                            and a.mbr_id in (select x1.frnd_id from frnd x1 where x1.mbr_id = #{mbrId})
		                        )
		]]>		                    
	</select>
	   
	
</mapper>


