<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.bitacademy.java41.oldboy.dao.RoomDao">
    <resultMap id="getRoomListResultMap" type="Room">
	    <result 	property="roomNo" 			column="room_no"/>
	    <result 	property="roomStartTime" 	column="room_start_time"/>
	    <result 	property="roomDistance" 	column="room_distance"/>
	    <result 	property="roomFare" 		column="room_fare"/>
	    <result 	property="roomRegDate" 		column="room_reg_date"/>
	    <collection property="pathLocList" 		column="room_no" 	javaType="java.util.ArrayList" 	ofType="PathLoc"
	        select="net.bitacademy.java41.oldboy.dao.PathLocDao.getPathLocList"/>
	    <collection property="roomMbrList" 		column="room_no" 	javaType="java.util.ArrayList" 	ofType="RoomMbr"
	        select="net.bitacademy.java41.oldboy.dao.RoomMbrDao.getRoomMbrList"/>
	</resultMap>
	   
	<select id="getRoomList" parameterType="map" resultMap="getRoomListResultMap">
	    <![CDATA[
		SELECT  a.room_no
	        , 	a.room_start_time
	        , 	a.room_distance
	        , 	a.room_fare
	        , 	a.room_reg_date
		FROM    room a
		WHERE   1 = 1
		    AND a.room_no IN (  SELECT  x1.room_no 
		                        FROM    room x1 
		                        WHERE   1=1
		                            AND x1.room_no IN ( SELECT x2.room_no
		                                                FROM path_loc x2
		                                                WHERE 1=1
		                                                    AND x2.path_loc_rank = 0
		                                                    AND SQRT(POW(#{startLat} - x2.path_loc_lat, 2) + POW(#{startLng} - x2.path_loc_lng, 2)) <= #{startRange})
		                            AND x1.room_no IN ( SELECT x2.room_no
		                                                FROM path_loc x2
		                                                WHERE 1=1
		                                                    AND x2.path_loc_rank = 4
		                                                    AND SQRT(POW(#{endLat} - x2.path_loc_lat, 2) + POW(#{endLng} - x2.path_loc_lng, 2)) <= #{endRange})
		                            and x1.room_start_time > NOW())
		    AND EXISTS (SELECT  1
		                FROM    room_mbr x1
		                    ,   frnd x2
		                WHERE   1 = 1
		                    AND x1.room_no = a.room_no
		                    AND x1.mbr_id = x2.frnd_id
		                    AND x2.mbr_id = #{mbrId}
		                UNION ALL
		                SELECT  1
		                FROM    room_mbr x1
		                    ,   frnd x2
		                    ,   frnd x3
		                WHERE   1 = 1
		                    AND a.room_no = x1.room_no
		                    AND x2.frnd_id = x3.frnd_id
		                    AND x2.mbr_id = x1.mbr_id
		                    AND x3.mbr_id = #{mbrId}
		                ) 		                        
		]]>		                    
	</select>
	   
	
	<insert id="addRoom" parameterType="Room"> 
        insert into Room(ROOM_START_TIME,ROOM_DISTANCE, 
                         ROOM_FARE,ROOM_REG_DATE) 
        values          (#{roomStartTime}, #{roomDistance}, 
                         #{roomFare}, now()) 
        <selectKey resultType="java.lang.Integer" keyProperty="roomNo"> 
            SELECT LAST_INSERT_ID() 
        </selectKey>        
    </insert> 
    
	
	<select id="getRoomInfo" parameterType="int" resultType="Room">
	select  
		  ROOM_NO as roomNo
	  ,   ROOM_START_TIME as roomStartTime
	  ,	  ROOM_DISTANCE as roomDistance
	  ,	  ROOM_FARE as roomFare
	  ,	  ROOM_REG_DATE as roomRegDate
	  from  
	  	  ROOM
	 where  
	      ROOM_NO = #{value}
	</select>	
	
	
</mapper>


