@CHARSET "UTF-8";

section[data-role=content] {
	border: 0px;
	margin: 0px;
	padding: 0px;	
}


/* 출발지 목적지 */
#divStartEndLoc {
/* 	border: 1px solid red; */
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100px;
}
.divLocationInput {
/* 	float:left; */
 	background: #f1f2f6; 
 	position: relative; 
	width: 100%;
	height: 50px;
}
#startInput {
	border: 1px solid #aaa;
 	position: absolute;
	width: 100%;
	height: 33px;
	padding: 0px 30px;
	margin: 6px;
	z-index:99;
	font-size:12pt;
}
#endInput {
	border: 1px solid #aaa;
 	position: absolute;
	width: 100%;
	height: 33px;
	padding: 0px 30px;
	margin: 6px;
	z-index:99;
	font-size:12pt;
}
.aSearchClear {
	float: right;
	position: absolute;
	vertical-align: center;
	right:0px;
	cursor: pointer;
	margin : 15px 0px 0px 0px;
 	width: 30px;
 	height: 30px;
 	z-index:100;
}
.cancleIcon {
  	width: 12px;
 	height: 12px;
 	z-index:100;
 	padding: 4px 0px 0px 7px;
}
.currLoatoinIcon {
	float: left; 
	position: absolute;
	vertical-align: center;
	margin : 14px 0px 0px 11px;
 	width: 17px;  
 	height: 17px;
 	z-index:100;  
}
.favoriteIcon {
	float: left; 
	position: absolute;
	vertical-align: center;
	margin : 14px 0px 0px 11px;
 	width: 17px;  
 	height: 17px;
 	z-index:100;  
}


/* 맵 관련 */
div#divMapWrap {
	width: 100%;
	height: 400px;
	position: relative;
}
div#canvas_map {
	width: 100%;
	height: 100%;
	position: absolute;
}


/* 방목록 */
#wrapper {
	width: 100%;
	height: 8em;
	float: left;
	position: absolute;	
	z-index: 1;			
	overflow: hidden;
	background: white;
}
#scroller {
	width: 10000px;
	height: 100%;
	float: left;
	padding: 0;
}
#scroller ul {
	list-style: none;
	display: block;
	float: left;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	text-align:left;
}
#scroller li {
	width: 100%; 
	height: 7em;
	display: block; float: left;
	text-align: center;
	font-family: georgia;
	font-size: 18px;
}
div.divRoomInfoArea {
/* 	border: 1px solid red; */
	top: 0px;
	margin: 0px;
	padding: 0px;	
}
div.divRoomInfoArea h2 {
	float: left;
	font-size: 250%;
	font-weight: bold;
	margin: 0.0em 0.1em;
	padding: 0px;
}
div.divRoomMbrThumbs {
	height: 3.0em;
	text-align: right;
	margin: 0px;
	padding: 0.5em 1em;
}
div.divRoomMbrThumbs img {
	width: 2.5em;
	heigth: 2.5em;
	margin: 0.1em;
	padding: 0px;
}

div.divBtnArea {
/* 	border: 1px solid blue; */
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 2.5em;
}
a.btnJoinRoom {
	width: 94%;
	height: 3em;
	border-top: 0.1em solid #eee;
	border-right: 0.1em solid #eee; 
	border-bottom: 0.1em solid #eee;
	border-left: 0.1em solid #ddd; 
	text-decoration:none;
	padding: 10px 30%;
	background: #fafbfd;
}
a.btnJoinRoom:hover { background: #dcdfe4; }
a.btnJoinRoom span {
	font-size: 1.2em;
	color: #626674;
	font-weight: bold;
	letter-spacing: -1px;
}







































/* 방버튼 관련 */
div#divRoomControlPopup_location {
	width: 100%;
	position: absolute;
	z-index: 98;
	bottom: 15px;
}

div#divRoomControl_popup {
	width: 100%;
	z-index: 98;
	opacity: 0.8;
	text-align: center; 
}



/* 방등록 관련 */
div#divAddRoomCondition_popup {
	width: 100%;
	position: relative;
	text-align: center;
}

#radioDaySelect {
/* 	border: 1px solid blue; */
	text-align: right;
	margin: 0px;
	padding: 5px 10px 0px 0px;
}

#radioDaySelect legend {
/* 	border: 1px solid red; */
	float: left;
	margin: 10px;
}

.btnAddRoomUI {
	margin-bottom: 10px;
}
.ui-input-text {
	margin: 0px;
}

.ui-input-search, div.ui-input-text {
	margin: 0px;
}


  
/* 즐겨찾는 위치 */  
#favoriteUl{ 
	width: 350px;
	height: auto; 
} 
  
#favoriteList{ 
    height: 40px; 
	overflow: hidden; 
} 

#favoriteLink.ui-link-inherit{ 
  margin: 0px; 
} 

/* 관계도 관련*/
#myCanvas {
	margin-left: -100px;
	margin-top: -13px;
	margin-righ: -15px;
	margin-bottom: -15px;
	padding: 0px;
}



@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.eot);
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.woff2) format('woff2'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.woff) format('woff'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.ttf) format('truetype');
}


