@CHARSET "UTF-8";

.panel-content {
	padding:15px;
}
#mypanel {
/* 	width: 200px; */
	opacity :0.8
}

  
  
#favoriteUl{ 
	width: 350px;
	height: auto; 
} 
  
#favoriteList{ 
    height: 40px; 
	overflow: hidden; 
} 

#favoriteLink.ui-link-inherit{ 
  margin: 0px; 
} 


section[data-role=content] {
	margin: 0px;
	padding: 0px;	
}

.divLocationInput {
	margin: 5px;
	padding: 0px;
}
.divLocationInput > a {
	float: left;
	margin: 5px 5px;
}
.divLocationInput > intput {
	border: 1px solid green;
}

#btnAddViewRoom {
/* 	position: absolute; */
	font-size: 90px; color: #e6e8f2;
	 text-align: center;
/* 	z-index: 97; */
/* 	opacity: 0.7; */
	margin: 10px;
	padding: 10px;
}

div#divMapWrap {
	width: 480px;
	height: 650px;
	position: relative;
}
div#canvas_map {
	width: 100%;
	height: 100%;
	position: absolute;
}


#myCanvas {
	margin-left: -100px;
	margin-top: -13px;
	margin-righ: -15px;
	margin-bottom: -15px;
	padding: 0px;
}














@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.eot);
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.woff2) format('woff2'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.woff) format('woff'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.ttf) format('truetype');
}




/*방목록버튼*/
#divRoomList {
	background:#475566;
    position:absolute;
    top:0;
    right:-130px;
    width:150px;
    height:648px;
}


















#ulRoomList { list-style: none; background: #475566; height: 100%; padding:0; margin:0;}

.roomlst_l_menu {display: block; background: #303a44; text-align: center; padding-top: 10px; color: #e6e8f2; font-weight: bold; font-size: 22px; text-shadow: 1px 1px 0px #313131;}

.roomlst_l { display: block; }
.roomItem:link 	{ color:orange; }
.roomItem:hover { color: #cad0e6; text-decoration: none; }
.roomItem { position: relative; display: block; border-bottom: 1px solid #303c4a; padding: 14px 11px; font-weight: bold; color: #f0f0f0; text-shadow: -1px -1px 1px #222; font-size: 1.6em; text-decoration: none; }


div#divRoomControlPopup_location {
	width: 100%;
	position: absolute;
	z-index: 98;
	bottom: 15px;
}

div#divRoomControl_popup {
	width: 100%;
	z-index: 98;
	opacity: 0.8;
	text-align: center; 
}





div#divAddRoomCondition_popup {
	width: 100%;
	position: relative;
	text-align: center;
}

.btnAddRoomUI {
	margin-top: 20px;
}

#divSearchPanel {
	width: 100px;
	padding: 0px;
	margin: 0px;
}

























/* 패널 설정 */
@left-panel-width: 17em;
@right-panel-width: 35em;
 
.ui-panel {
    width: @left-panel-width;
}
 
.ui-panel.ui-panel-position-right {
    width: @right-panel-width;
}
 
.ui-panel.ui-panel-closed {
    width: 0;
}
 
.ui-panel-position-left {
    left: -@left-panel-width
}
 
.ui-panel-animate.ui-panel-position-left.ui-panel-display-overlay, .ui-panel-animate.ui-panel-position-left.ui-panel-display-push {
    -webkit-transform: translate3d(-@left-panel-width, 0, 0);
    -moz-transform: translate3d(-@left-panel-width, 0, 0);
    transform: translate3d(-@left-panel-width, 0, 0)
}
 
.ui-panel-position-right {
    right: -@right-panel-width
}
 
.ui-panel-animate.ui-panel-position-right.ui-panel-display-overlay, .ui-panel-animate.ui-panel-position-right.ui-panel-display-push {
    -webkit-transform: translate3d(@right-panel-width, 0, 0);
    -moz-transform: translate3d(@right-panel-width, 0, 0);
    transform: translate3d(@right-panel-width, 0, 0)
}
 
.ui-panel-content-fixed-toolbar-position-left.ui-panel-content-fixed-toolbar-open, .ui-panel-content-wrap-position-left.ui-panel-content-wrap-open, .ui-panel-dismiss-position-left.ui-panel-dismiss-open {
    left: @left-panel-width;
    right: -@right-panel-width
}
 
.ui-panel-animate.ui-panel-content-fixed-toolbar-position-left.ui-panel-content-fixed-toolbar-open.ui-panel-content-fixed-toolbar-display-reveal, .ui-panel-animate.ui-panel-content-fixed-toolbar-position-left.ui-panel-content-fixed-toolbar-open.ui-panel-content-fixed-toolbar-display-push, .ui-panel-animate.ui-panel-content-wrap-position-left.ui-panel-content-wrap-open.ui-panel-content-wrap-display-reveal, .ui-panel-animate.ui-panel-content-wrap-position-left.ui-panel-content-wrap-open.ui-panel-content-wrap-display-push {
    -webkit-transform: translate3d(@left-panel-width, 0, 0);
    -moz-transform: translate3d(@left-panel-width, 0, 0);
    transform: translate3d(@left-panel-width, 0, 0)
}
 
.ui-panel-content-fixed-toolbar-position-right.ui-panel-content-fixed-toolbar-open, .ui-panel-content-wrap-position-right.ui-panel-content-wrap-open, .ui-panel-dismiss-position-right.ui-panel-dismiss-open {
    left: -@left-panel-width;
    right: @right-panel-width
}
 
.ui-panel-animate.ui-panel-content-fixed-toolbar-position-right.ui-panel-content-fixed-toolbar-open.ui-panel-content-fixed-toolbar-display-reveal, .ui-panel-animate.ui-panel-content-fixed-toolbar-position-right.ui-panel-content-fixed-toolbar-open.ui-panel-content-fixed-toolbar-display-push, .ui-panel-animate.ui-panel-content-wrap-position-right.ui-panel-content-wrap-open.ui-panel-content-wrap-display-reveal, .ui-panel-animate.ui-panel-content-wrap-position-right.ui-panel-content-wrap-open.ui-panel-content-wrap-display-push {
    -webkit-transform: translate3d(-@right-panel-width, 0, 0);
    -moz-transform: translate3d(-@right-panel-width, 0, 0);
    transform: translate3d(-@right-panel-width, 0, 0)
}
 
@media (min-width:55em) {
    .ui-responsive-panel.ui-page-panel-open .ui-panel-content-fixed-toolbar-display-push.ui-panel-content-fixed-toolbar-position-left, .ui-responsive-panel.ui-page-panel-open .ui-panel-content-fixed-toolbar-display-reveal.ui-panel-content-fixed-toolbar-position-left, .ui-responsive-panel.ui-page-panel-open .ui-panel-content-wrap-display-push.ui-panel-content-wrap-position-left, .ui-responsive-panel.ui-page-panel-open .ui-panel-content-wrap-display-reveal.ui-panel-content-wrap-position-left {
        margin-right: @right-panel-width
    }
 
    .ui-responsive-panel.ui-page-panel-open .ui-panel-content-fixed-toolbar-display-push.ui-panel-content-fixed-toolbar-position-right, .ui-responsive-panel.ui-page-panel-open .ui-panel-content-fixed-toolbar-display-reveal.ui-panel-content-fixed-toolbar-position-right, .ui-responsive-panel.ui-page-panel-open .ui-panel-content-wrap-display-push.ui-panel-content-wrap-position-right, .ui-responsive-panel.ui-page-panel-open .ui-panel-content-wrap-display-reveal.ui-panel-content-wrap-position-right {
        margin-left: @left-panel-width
    }
}
