@CHARSET "UTF-8";

#pageLocation {
	background:white;
}

section[data-role=content] {
	margin : 0px;
	padding : 0px;
}

/* 맵 */
div#divMapWrap {
	width: 100%;
	height: 400px;
	position: relative;
}
div#canvas_map {
	width: 100%;
	height: 100%;
	position: absolute;
}


/* 검색 입력 */
#divSearchInput {
	float:left;
 	position: relative; 
	width: 100%;
	height: 38px;
	border: 0.1em solid #f1f2f6;
}
#magnifyingGlass {
	float: left; 
	position: relative;
	vertical-align: center;
	margin : 14px 0px 0px 11px;
 	width: 17px;  
 	height: 17px;
 	z-index:100;  
} 
#aSearchClear {
	float: right;
	position: absolute;
	vertical-align: center;
	right:0px;
	cursor: pointer;
	margin : 10px 0px 0px 0px;
 	width: 30px;
 	height: 30px;
 	z-index:100;
}
#cancleIcon {
 	width: 12px;
 	height: 12px;
 	z-index:100;
 	padding: 7px 0px 0px 7px;
}
#searchInput {
	border: 1px solid #aaa;
 	position: absolute;
	width: 100%;
	height: 33px;
	padding: 0px 30px;
	margin: 6px;
	z-index:1;
/* 	font-size:12pt; */
}


/* 위치 리스트 */
/* 스크롤 */
#wrapper {
 	width:100%; 
 	height:120px;
 	position:absolute;	 
 	z-index:1;
 	bottom:0px;
 	overflow:hidden; 
}
#scroller {
	width:100%;
	height:100%;
	float:left;
	padding:0;
}
#scroller ul {
	width:100%;
	height:100%;
	text-align:left;
	margin: 0px;
	padding: 0px;
	position : absolute;
	z-index:999;
}
#scroller li {
	width:100%; 	
	height:120px;
	line-height:140%;
	z-index:999;
	display:block; float:left;
	border: 1px solid #bbb;
	position:absolute; 
	display:inline-block;
	background: white;
	margin:0px; 
	padding:0;	
}

a.divFavoriteIcon {
	position: absolute;
	top: 7px;
	left: 0.6em;
	cursor: pointer;
}
a.divFavoriteIcon img {
	width: 23px; 
	height: 23px; 
}

.locationNameAndAddress {
	margin: 2px 0.3em 0px 0.3em;
	padding:0px;
	text-decoration:none;
}

.locationName{
	width: 88%;
	height: 100%;
	margin-left: 12%;
	padding:0px;
	line-height:150%;
	font-size: 150%;
	font-weight: bold;
	letter-spacing: -1px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.locationAddress {
	color: #707070;
	width:100%;
	height: 100%;
	overflow: hidden;
	margin: 0px;
	line-height: 140%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.locationTheme {
	color: #888;
	margin: 0px;
	font-size: 80%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.locationStartAndEnd {
	position: absolute;
	width: 100%;
	bottom: 10px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
a.locationStart {
	border-top: 2px solid #888;
	border-right: 1px solid #bbb; 
	border-bottom: 2px solid #888;
	border-left: 2px solid #888;
	padding:0.5em 0.5em; 
	text-decoration:none;
	background: #fafbfd;
}
a.locationStart:hover { background: #dcdfe4; }
a.locationStart span {
	font-size: 120%;
	color: #626674;
	font-weight: bold;
	letter-spacing: -2px;
}
a.locationEnd {
	border-top: 2px solid #888;
	border-right: 2px solid #888; 
	border-bottom: 2px solid #888;
	padding:0.5em 0.5em; 
	text-decoration:none;
	background: #fafbfd;
}
a.locationEnd:hover { background: #dcdfe4; }

a.locationEnd span {
	font-size: 120%;
	color: #626674;
	font-weight: bold;
	letter-spacing: -2px;
}







@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.eot);
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.woff2) format('woff2'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.woff) format('woff'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.ttf) format('truetype');
}