@CHARSET "UTF-8";

section[data-role=content] {
	margin : 0px;
	padding : 0px;
}

div#divMapWrap {
	width: 480px;
	height: 600px;
	position: relative;
}
div#canvas_map {
	width: 100%;
	height: 100%;
	position: absolute;
}

@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.eot);
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.woff2) format('woff2'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.woff) format('woff'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.ttf) format('truetype');
}


#ulLocationList {
	position : absolute;	
	margin-top : 0px;
}

.liLocationList {
	position:absolute; 
	display:inline-block;
	left:0px; 
	height:130px; 
	border: 1px solid #bbb; 
	margin:0; 
	padding:0;
	width:480px;
}
#liLocationList0 {
	left:0px;
}
#liLocationList1 {
	left:480px;
}

#liLocationList2 {
	left:960px;
}
#liLocationList3 {
	left:1440px;
}
#liLocationList4 {
	left:1920px;
}
#liLocationList5 {
	left:2400px;
}
#liLocationList6 {
	left:2880px;
}
#liLocationList7 {
	left:3360px;
}


.imgMarker img{
	float: left; position: absolute; left: 20px; top: 20px; max-height: 90px; max-width: 90px;
}

.back {
	border:1px solid black; 
	margin-top:2em; 
	padding:0.3em 0.5em; 
	text-decoration:none; 
	float:left; 
	background:#475566; 
	opacity:0.4;
}

.btnBackforward span {
	font-size:20px; 
	color:white; 
	font-weight:bold
}

.forward {
	border:1px solid black;
	margin-top:2em; 
	padding:0.3em 0.5em; 
	text-decoration:none; 
	float:right; 
	background:#475566; 
	opacity:0.4
}

.divFavoriteIcon {
	float:left; 
	padding:12px 0 0 40px;
}
.divFavoriteIcon a {
	background:url(../images/common/favorite-non-icon.png) no-repeat; 
	width: 17px; 
	height: 17px; 
	float: left;
}
.locationNameAndAddress {
	text-decoration:none;
}

.locationName{
	padding: 14px 0 0 2px;
}
.locationAddress {
	margin:0px 95px 20px 45px;
	height:27px;
	width:
}

.spanLocationStart {
	padding-left: 47px;
}

.locationStart {
	border:1px solid black; 
	padding:0.3em 0.5em; 
	text-decoration:none;
}

.locationEnd {
	border:1px solid black; 
	padding:0.3em 0.5em; 
	text-decoration:none;
}

.locationStartAndEnd strong{
	font-size:15px;
	font-family:Malgun Gothic;	
}


