@CHARSET "UTF-8";

div#divMapWrap {
	border: 1px solid blue;
	width: 440px;
	height: 570px;
	position: relative;
}
div#divMap {
	width: 100%;
	height: 100%;
	position: absolute;
	border: 1px solid red;
}


